include ../public/jade-includes/head

body
	#bg.background-container
		.container
			.row-fluid
				.span12
					#box.textwrapper
						#title.name
						form(name="input", id="firebase", action="javascript:voidf(0)")
							| Update:
							input(type="text", id="user")

include ../public/jade-includes/scripts